img {
  min-height: 495px;
  min-width: 375px;

  height: 495px;
  width: 375px;
}

select.ng-invalid.ng-touched, input.ng-invalid.ng-touched {
  border: 1px solid red;
}
  
form i.fa {
  position: absolute;
  top: 8px;
  left: 15px;
  color: #2098D1;
  font-size: 22px;
  z-index: 99;
}

.form-control {
  position: relative;
 padding-left: 45px !important;

}