<div align="center" style="width: 100%;">
  <div align="left" style="max-width:900px;padding-left: 20px;padding-right: 20px;">

    <h1 class="text-center display-4">Apoie o projeto</h1>
    <p>Que tal nosso stack tecnológico? Combinação boa heim! Em cada repositório GITHUB tem uma explicação passo-a-passo de
      como você fazer sua PRIMEIRA CONTRIBUIÇÃO no projeto. Bora?</p>

    <div class="flex-container">

      <div class="card">
        <img class="card-img-top" src="assets/img/apoie-projeto/dotnet_core.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Backend</h5>
          <p class="card-text">.Net core 2.x, C#, SQL Server, Web api</p>

          <a href="https://github.com/SharebookBR/backend" class="card-link" target="_blank">Github</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/img/apoie-projeto/angular.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Frontend</h5>
          <p class="card-text">Angular 6, Bootstrap 4, HTML 5</p>

          <a href="https://github.com/SharebookBR/frontend" class="card-link" target="_blank">Github</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/img/apoie-projeto/ionic.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mobile</h5>
          <p class="card-text">Ionic
            <br>
            <br>
          </p>

          <a href="https://github.com/SharebookBR/mobile" class="card-link" target="_blank">Github</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/img/apoie-projeto/qa.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">QA</h5>
          <p class="card-text">&nbsp;
            <br>
            <br>
          </p>

          <a href="https://github.com/SharebookBR/qa" class="card-link" target="_blank">Github</a>
        </div>
      </div>

      <h1 class="text-center display-4">Ferramentas</h1>
      <p>Nós temos um monte de ferramentas legais pra esse trabalho colaborativo. SLACK, GITSCRUM, GITHUB. Tudo integrado e
        bem explicado, fácil de entender.</p>

      <div class="card">
        <img class="card-img-top" src="assets/img/apoie-projeto/slack.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Slack</h5>
          <p class="card-text">Comunicação, colaboração e integração.</p>

          <a href="https://join.slack.com/t/sharebookworkspace/shared_invite/enQtMzQ2Nzc5OTk3MDc4LTZlMmJlMjA3NGE1NDczN2QxYzc2ZWZhM2UxMzFkMDIyYjliMGI3YzdlYzg2ZjZhYjQ2YWY1ZTUyZGViNzViOWQ"
            class="card-link" target="_blank">Convite Slack</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/img/apoie-projeto/gitscrum.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Git Scrum</h5>
          <p class="card-text">Solução simples e gamificada para gerenciamento de projetos SW.</p>

          <a href="https://site.gitscrum.com/" class="card-link" target="_blank">Website</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/img/apoie-projeto/github.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Git Hub</h5>
          <p class="card-text">Aqui nós temos o cuidado de de um histórico educativo, onde cada commit conta uma estória.</p>

          <a href="https://github.com/SharebookBR" class="card-link" target="_blank">Website</a>
        </div>
      </div>

      <h1 class="text-center display-4">Precisamos da sua ajuda!</h1>
      <p>Não importa sua idade, experiência ou ramo de atividade. Temos certeza que você pode ajudar de alguma forma. Fale com
        o Raffaello pelo Linkedin para mais detalhes.</p>

      <div class="card">
        <img class="card-img-top" src="assets/img/apoie-projeto/business_plan.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Business Plan</h5>
          <p class="card-text">Estratégia, motivação, liderança.</p>

          <a href="https://www.linkedin.com/in/raffacabofrio/" class="card-link" target="_blank">Linkedin</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/img/apoie-projeto/marketing.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Marketing</h5>
          <p class="card-text">Divulgação, patrocínio, parcerias, fidelização.</p>

          <a href="https://www.linkedin.com/in/raffacabofrio/" class="card-link" target="_blank">Linkedin</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/img/apoie-projeto/vendas.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Vendas</h5>
          <p class="card-text">Tudo é venda, mesmo que não seja comercial. Ideias, engajamento.</p>

          <a href="https://www.linkedin.com/in/raffacabofrio/" class="card-link" target="_blank">Linkedin</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/img/apoie-projeto/rh.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">RH</h5>
          <p class="card-text">Engajamento do time. Motivação.</p>

          <a href="https://www.linkedin.com/in/raffacabofrio/" class="card-link" target="_blank">Linkedin</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/img/apoie-projeto/juridico.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Jurídico</h5>
          <p class="card-text">Que cuidados devemos tomar?</p>

          <a href="https://www.linkedin.com/in/raffacabofrio/" class="card-link" target="_blank">Linkedin</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/img/apoie-projeto/cientista_dados.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Data Science</h5>
          <p class="card-text">Explorar. Apresentar. Prever.</p>

          <a href="https://www.linkedin.com/in/raffacabofrio/" class="card-link" target="_blank">Linkedin</a>
        </div>
      </div>


    </div>
  </div>