  <!--BANNER DE MARKETING-->


  <div class="row justify-content-center" id="banner_livros">
    <div class="col-sm-auto">
      <img src="assets/img/banner_livros.png" class="img-fluid" alt="banner marketing de doador de livros">
    </div>
  </div>
  
  
  <!--FOOTER-->
  
  
  <div class="row justify-content-center" id="footer">
    <div class="container">
      <div class="col-sm-4 col-md-6 col-lg-10" id="face_store">
        <img src="assets/img/facebookandstore.png" alt="facebook e lojas da apple e google">
      </div>
      <div class="col-sm-4 col-md-6 col-lg-10" id="subscribe-container">
        <form class="form-inline" id="form">
          <img src="assets/img/informativo.png" alt="increva-se e receba nosso informativo de novidades" id="informativo">
          <div class="form-group mb-2">
            <label for="subscribe" class="sr-only"></label>
            <input type="text" readonly class="form-control-plaintext" id="subscribe" value="">
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <label for="inputSubscribe" class="sr-only"></label>
            <input type="text" class="form-control" id="inputSubscribe" placeholder="Digite seu email e receba novidades">
          </div>
          <button type="submit" class="btn btn-warning mb-2" id="submit_button_footer"></button>
        </form>
      </div>
    </div>
  </div>
