.container-footer {
  margin-top: 8rem;
  padding-bottom: 4rem;
  background: url("../../../assets/img/footer.png") no-repeat;
  background-size: cover;
  height: auto;
}

#face_store {
  margin-top: 8rem;
  margin-right: -1rem;
}

#informativo {
  margin-top: 8rem;
}

.form-group {
  display: block;
}

#inputSubscribe {
  float: left;
}

.form-control {
  display: block;
  width: inherit!important;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-warning {
  z-index: 1;
  background-size: cover;
  height: 40px;
  padding-left: 2rem;
  margin-left: -20px;
  color: #fff;
  background: #ffcc00 url("../../../assets/img/ok_yellow.png");
  border-color: #ffcc00;
  display: block;
}
