<form [formGroup]="formGroup" class="container form-horizontal" (ngSubmit)="registerUser()">
  <h1 class="text-center display-4">Registro</h1>
  <div class="form-row">
    <div class="col">

      <div class="form-group col-md-6 offset-md-3 mb-2">
        <label class="col-form-label" for="name">Nome</label>
        <div class="input-group">
          <input formControlName="name" name="name" type="text" class="form-control">
          <div class="input-group-addon append">
            <i class="fa fa-address-book"></i>
          </div>
        </div>
        <div *ngIf="formGroup.controls['name'].touched && !formGroup.controls['name'].valid">
          <small class="form-text text-danger" *ngIf="formGroup.controls['name'].hasError('required')">
            Nome obrigatório.
          </small>
          <small class="form-text text-danger" *ngIf="formGroup.controls['name'].hasError('minlength')">
            O nome deve conter no mínimo 3 caracteres.
          </small>
          <small class="form-text text-danger" *ngIf="formGroup.controls['name'].hasError('maxlength') ">
            O nome deve conter no máximo 50 caracteres.
          </small>
        </div>
      </div>

      <div class="form-group col-md-6 offset-md-3 mb-2">
        <label class="col-form-label" for="email">E-mail</label>
        <div class="input-group">
          <input formControlName="email" type="text" class="form-control">
          <div class="input-group-addon append">
            <i class="fa fa-envelope-square"></i>
          </div>
        </div>

        <div *ngIf="formGroup.controls['email'].touched && !formGroup.controls['email'].valid">
          <small class="form-text text-danger" *ngIf="formGroup.controls['email'].hasError('required')">
            E-mail obrigatório.
          </small>
          <small class="form-text text-danger" *ngIf="formGroup.controls['email'].hasError('pattern') ">
            O e-mail deve ser um e-mail válido.
          </small>          
        </div>
      </div>

      <div class="form-group col-md-6 offset-md-3 mb-2">
        <label class="col-form-label" for="password">Senha</label>
        <div class="input-group">
          <input formControlName="password" type="password" class="form-control">
          <div class="input-group-addon append">
            <i class="fa fa-unlock-alt"></i>
          </div>
        </div>

        <div *ngIf="formGroup.controls['password'].touched && !formGroup.controls['password'].valid">
          <small class="form-text text-danger" *ngIf="formGroup.controls['password'].hasError('required')">
            Senha obrigatória.
          </small>
          <small class="form-text text-danger" *ngIf="formGroup.controls['password'].hasError('pattern')">
            A senha não atende os requisitos. Mínimo oito caracteres, um caractere especial ($@$!%*?&#.,-_:;), um caractere numérico e uma letra em maiúsculo.
          </small>
        </div>
      </div>

      <div class="form-group col-md-6 offset-md-3 mb-2">
        <label class="col-form-label" for="confirmPassword">Confirmar Senha</label>
        <div class="input-group">
          <input formControlName="confirmPassword" type="password" class="form-control">
          <div class="input-group-addon append">
            <i class="fa fa-unlock-alt"></i>
          </div>
        </div>

        <div *ngIf="formGroup.controls['confirmPassword'].touched && !formGroup.controls['confirmPassword'].valid">
          <small class="form-text text-danger" *ngIf="formGroup.controls['confirmPassword'].hasError('required')">
            Confirmação de senha obrigatória.
          </small>
          <small class="form-text text-danger" *ngIf="formGroup.controls['confirmPassword'].hasError('MatchPassword') ">
            A confirmação de senha não confere com a senha informada.
          </small>          
        </div>
      </div>

      <div class="form-group col-md-6 offset-md-3 mb-2">
        <label class="col-form-label" for="phone">DDD + Telefone</label>
        <div class="input-group">
          <input formControlName="phone" type="text" class="form-control">
          <div class="input-group-addon append">
            <i class="fa fa-whatsapp"></i>
          </div>
        </div>

        <div *ngIf="formGroup.controls['phone'].touched && !formGroup.controls['phone'].valid">
          <small class="form-text text-danger" *ngIf="formGroup.controls['phone'].hasError('pattern')">
            Telefone deve estar no formato (99) 99999-9999
          </small>
        </div>        
      </div>

      <div class="form-group col-md-6 offset-md-3 mb-2">
        <label class="col-form-label" for="linkedin">LinkedIn</label>
        <div class="input-group">
          <input formControlName="linkedin" type="text" class="form-control">
          <div class="input-group-addon append">
            <i class="fa fa-linkedin"></i>
          </div>
        </div>

        <div *ngIf="formGroup.controls['linkedin'].touched && !formGroup.controls['linkedin'].valid">
          <small class="form-text text-danger" *ngIf="formGroup.controls['linkedin'].hasError('pattern')">
            O LinkedIn deve ser uma URL para o seu perfil no LinkedIn.
          </small>
        </div>
      </div>

      <div class="form-group col-md-6 offset-md-3 mb-2">
        <label class="col-form-label" for="postalCode">CEP</label>
        <div class="input-group">
          <input formControlName="postalCode" type="text" class="form-control">
          <div class="input-group-addon append">
            <i class="fa fa-map-marker"></i>
          </div>
        </div>

        <div *ngIf="formGroup.controls['postalCode'].touched && !formGroup.controls['postalCode'].valid">
          <small class="form-text text-danger" *ngIf="formGroup.controls['postalCode'].hasError('required')">
            CEP obrigatório.
          </small>
          <small class="form-text text-danger" *ngIf="formGroup.controls['postalCode'].hasError('pattern')">
            CEP deve estar no formato 99999-999.
          </small>
        </div>
      </div>

      <div class="form-group col-md-6 offset-md-3">
        <div class="text-center">
          <input type="submit" class="btn btn-primary" value="Registrar" style="padding-left: 50px; padding-right: 50px" [disabled]="!formGroup.valid">
          <a [routerLink]="['/login']" class="btn btn-link">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
</form>