<!--FOOTER-->

<div class="row justify-content-center" id="footer">

  <div class="container">

    <div class="row">
      <div class="col col-sm-6" id="face_store">
        <img src="assets/img/facebookandstore.png" alt="facebook e lojas da apple e google">
      </div>
      <div class="col">
        <div class="col col-sm" id="informativo">
          <img src="assets/img/informativo.png" alt="increva-se e receba nosso informativo de novidades">
        </div>
        <form class="form-inline" id="form">
          <div class="form-group ">
            <label for="inputSubscribe" class="sr-only"></label>
            <input type="text" class="form-control" id="inputSubscribe" placeholder="Digite seu email">
            <button type="submit" class="btn btn-warning mb-2" id="submit_button_footer"></button>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>
