<!--footer-->

<div class="container-fluid container-footer">

  <div class="row ">

    <div class="col-sm-4" id="face_store">
      <img src="assets/img/facebookandstore.png" alt="Facebook e lojas da apple e google">
    </div>
    <div class="col">
      <div class="col-sm-6 ml-6" id="informativo">
        <img src="assets/img/informativo.png" alt="increva-se e receba nosso informativo de novidades">
      </div>
      <div class="w-100" style="margin-top: 1rem;"></div>
      <form class="form-inline form-row">
        <label class="sr-only" for="inlineFormInputEmail">email</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputEmail" placeholder="Digite seu email para novidades">
        <button type="submit" class="btn btn-warning mb-2"></button>
      </form>
    </div>
  </div>
</div>
