.bg-light {
  background: url("/assets/img/Retângulo 1.png") no-repeat;
  background-size: cover;
  z-index: -1;
}

.icons {
  margin-right: 8.2rem;
}

#logotipo {
  margin-top: -4.4rem;
  margin-left: 8rem;
}

#btn_1 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background: url("/assets/img/btn1.png") no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_1:hover,
#btn_2:hover,
#btn_3:hover,
#btn_4:hover,
#btn_5:hover,
#btn_6:hover,
#btn_7:hover,
#btn_8:hover,
#btn_9:hover,
#btn_10:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0 5px 15px 0.1px grey;
}

#btn_2 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background: url("/assets/img/btn2.png") no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_3 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background: url("/assets/img/btn3.png") no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_4 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background: url("/assets/img/btn4.png") no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_5 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background: url("/assets/img/btn5.png") no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_6 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background: url("/assets/img/btn6.png") no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_7 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background: url("/assets/img/btn7.png") no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_8 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background: url("/assets/img/btn8.png") no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_9 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background: url("/assets/img/btn9.png") no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_10 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background: url("/assets/img/btn10.png") no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

.nav-item {
  display: block;
}

.nav > a {
  color: #495057;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 600;
}

.navbar-link {
  margin-top: 1.3rem;
}

.jumbotron {
  background: url("/assets/img/banner.png") no-repeat;
  background-size: cover;
  height: 410px;
  z-index: -6;
  margin-left: -12rem;
}

.submit_btn {
  margin-right: -18rem;
  margin-left: -3.8rem;
  height: 38px;
  background-color: #fff;
  border: none;
  color: rgb(48, 45, 89);
  font-style: italic;
  font-weight: 500;
  border-radius: 0 15px 15px 0;
  z-index: 3;
}

#find {
  margin-top: 13.1rem;
  margin-right: 15rem;
  float: right;
}

#navbtn {
  position: absolute;
  margin-top: -4.2rem;
  margin-left: -30.3rem;
  height: 80px;
}

#buttons {
  margin-top: -4rem;
  float: right;
  margin-right: 11rem;
}

#button_container {
  margin-right: -0.9rem;
}

@media screen and (min-width: 991px) and (max-width: 1195px) {
  .nav-link {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .bg-light,
  .jumbotron,
  #navbtn {
    display: none;
  }
}

@media screen and (min-width: 294px) and (max-width: 1355px) {
  #find,
  #inputSearch,
  .form-inline {
    display: none;
  }
}

@media screen and (min-width: 294px) and (max-width: 1215px) {
  #button_container {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  #button_container {
    margin-top: 4rem;
    margin-left: 5.5rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: max-content;
  }
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  #baixe,
  #store,
  #facebook {
    display: none;
  }
}
