<div class="container">
  <h1 class="text-center display-4">Quem Somos</h1>
  <p>Sharebook é um projeto colaborativo de código aberto que é apoiado por muitos contribuidores. Você pode ser um deles. Vem
    pro time! Conheça alguns dos maiores contribuidores do projeto.</p>

  <div class="flex-container">

    <div class="card">
      <img class="card-img-top" src="assets/img/top_contributors/raffa.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Raffaello Damgaard</h5>
        <p class="card-text">Product Owner</p>

        <a href="https://www.linkedin.com/in/raffacabofrio/" class="card-link" target="_blank">Linkedin</a>
        <a href="https://www.github.com/raffacabofrio/" class="card-link" target="_blank">Github</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/img/top_contributors/vagner.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Vagner Nunes</h5>
        <p class="card-text">Product Advisor</p>

        <a href="https://www.linkedin.com/in/vnunes/" class="card-link" target="_blank">Linkedin</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/img/top_contributors/daniel.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Daniel Aloísio</h5>
        <p class="card-text">Backend Developer/ Architect</p>

        <a href="https://www.linkedin.com/in/daniel-alo%C3%ADsio-oliveira-da-silva-06242291/" class="card-link" target="_blank">Linkedin</a>
        <a href="https://github.com/danielaloisio" class="card-link" target="_blank">Github</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/img/top_contributors/cussa.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cussa Mitre</h5>
        <p class="card-text">Lead Developer</p>

        <a href="https://www.linkedin.com/in/cussa/" class="card-link" target="_blank">Linkedin</a>
        <a href="https://github.com/Cussa" class="card-link" target="_blank">Github</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/img/top_contributors/walter.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Walter Vinicius</h5>
        <p class="card-text">Fullstack Developer</p>

        <a href="https://www.linkedin.com/in/walter-cardoso-aab682a8/" class="card-link" target="_blank">Linkedin</a>
        <a href="https://github.com/walter-lopes" class="card-link" target="_blank">Github</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/img/top_contributors/pedro_moreira.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pedro Moreira</h5>
        <p class="card-text">Designer</p>

        <a href="https://www.linkedin.com/in/pedro-moreira-91369933/" class="card-link" target="_blank">Linkedin</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/img/top_contributors/mauricio.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mauricio Carlezzo</h5>
        <p class="card-text">FrontEnd Developer</p>

        <a href="https://www.linkedin.com/in/maur%C3%ADcio-carlezzo-34a93480/" class="card-link" target="_blank">Linkedin</a>
        <a href="https://github.com/carlezzo" class="card-link" target="_blank">Github</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/img/top_contributors/antero.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">William Pavei Antero</h5>
        <p class="card-text">Frontend Developer</p>

        <a href="https://www.linkedin.com/in/wantero/" class="card-link" target="_blank">Linkedin</a>
        <a href="https://github.com/wantero" class="card-link" target="_blank">Github</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/img/top_contributors/everton.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Everton de Jesus</h5>
        <p class="card-text">FrontEnd Developer</p>

        <a href="https://www.linkedin.com/in/everton-de-jesus-01295413b/" class="card-link" target="_blank">Linkedin</a>
        <a href="https://github.com/Everton1982" class="card-link" target="_blank">Github</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/img/top_contributors/caique.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Caíque Valin</h5>
        <p class="card-text">FrontEnd Developer</p>

        <a href="https://www.linkedin.com/in/caiquevallim/" class="card-link" target="_blank">Linkedin</a>
        <a href="https://github.com/caiquevallim" class="card-link" target="_blank">Github</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/img/top_contributors/engeziellithon.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Engeziellithon Vieira</h5>
        <p class="card-text">QA Analyst</p>

        <a href="https://www.linkedin.com/in/engeziellithondev/" class="card-link" target="_blank">Linkedin</a>
        <a href="https://github.com/engeziellithon" class="card-link" target="_blank">Github</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/img/top_contributors/pedrohyvo.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pedro Hyvo</h5>
        <p class="card-text">QA Engineer</p>

        <a href="https://www.linkedin.com/in/pedrohyvo" class="card-link" target="_blank">Linkedin</a>
        <a href="https://www.github.com/pedrohyvo" class="card-link" target="_blank">Github</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/img/top_contributors/ratton.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Marcelo Ratton</h5>
        <p class="card-text">Technical Advisor</p>

        <a href="https://www.linkedin.com/in/rattones/" class="card-link" target="_blank">Linkedin</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/img/top_contributors/kira.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Gislaine Oliveira</h5>
        <p class="card-text">Project Advisor</p>

        <a href="https://www.linkedin.com/in/gislaine-oliveira-a12952b8/" class="card-link" target="_blank">Linkedin</a>
      </div>
    </div>



  </div>


  <h1>História</h1>

  <p>Antes de começar, deixa eu me apresentar. Meu nome é Raffaello Damgaard e sou o Product Owner desse projeto. Sou desenvolvedor
    há 17 anos e sempre tive um sonho de um dia colaborar num projeto gratuito e de código aberto. Algo que possa ajudar
    as pessoas. Finalmente essa oportunidade chegou! Pra conhecer mais sobre mim, visite meu perfil no Linkedin.</p>

  <p>O que é o Sharebook? Vou falar um pouco sobre o projeto. Tudo começou com meu amigo Vagner Nunes que ajudou um cara humilde
    que nunca tinha ganhado um livro na vida. Pode até parecer pouco, mas tem muita gente que esse simples gesto faz uma
    grande diferença. Pessoas humildes que não tem condições e tem até vergonha de pedir.</p>

  <p>De certa forma quero me inspirar no UBER. O uber não tem carro próprio. Ele junta as pontas. É isso que vamos fazer. O
    livro não vai passar pela nossa mão. O doador vai cadastrar o livro em nosso sistema. Nós vamos avaliar e aprovar. Aí
    o livro vai para nossa VITRINE (website e apps).</p>

  <p>Então depois que o livro está na vitrine ele fica lá até aparecer um interessado. O doador é notificado e envia.</p>

  <p>&nbsp;</p>

  <h1>3 princípios do projeto Sharebook</h1>
  <ol class="rounded-list">
    <li>
      <p><b>Código livre</b><br />
      Não se confundir com um projeto comercial. A essência é ser um serviço grátis para ajudar quem precisa. Um projeto
      colaborativo de código aberto. Podemos e vamos ser bons e agressivos no marketing, mas sem jamais esquecer essa base.</p></li>
      

    <li>
        <p><b>Simples</b><br />
      Manter as coisas simples e incentivar o aprendizado. Nossa estrutura precisa ser simples ao ponto que mesmo um iniciante
      rapidamente entenda e se sinta confortável em colaborar no código fonte. Design simples e código limpo.</p></li>

    <li>
        <p><b>Divertido</b><br />
      Tem que ser divertido como um game. Ganhando pontos. Subindo de nível. Ganhando selos de conquistas. E quem sabe, no
      futuro, algum parceiro possa patrocinar os prêmios? (prêmios pro time de desenvolvimento também, claro.)</p></li>
  </ol>

</div>