<!--jumbotron-->

<img src="assets/img/banner3.jpeg" class="img-fluid w-100" alt="Escolha o livro. Leve para casa. Não custa nada." fetchpriority="high" />

<div class="container">
  <h1 class="text-center display-4" *ngIf="!hasBook && ebooks.length === 0">
    Nenhum livro encontrado &#9785; <br />Ajude o Sharebook e
    <strong><a [routerLink]="['/livros/doar']">doe um livro agora</a></strong>
  </h1>
  <h1 class="text-center display-4" *ngIf="hasBook">Livros em destaque</h1>
  <div class="row justify-content-center book-covers" *ngIf="hasBook">
    <app-book-card [book]="book" *ngFor="let book of availableBooks"></app-book-card>
  </div>

  <!-- LIVROS DIGITAIS -->
  <ng-container *ngIf="ebooks.length > 0">
    <h1 class="text-center display-4">Livros digitais</h1>
    <div class="row justify-content-center book-covers">
      <app-book-card [book]="ebook" *ngFor="let ebook of ebooks"></app-book-card>
    </div>
  </ng-container>

  <!-- PRÓXIMOS MEETUPS -->
  <ng-container *ngIf="meetupsUpcoming.length > 0">
    <h1 class="text-center display-4 meetup">Não perca os próximos Meetups!</h1>

    <app-card-meetup [meetup]="meetup" *ngFor="let meetup of meetupsUpcoming"></app-card-meetup>

    <div style="clear: both; height: 20px"></div>
  </ng-container>

  <!-- MEETUPS JÁ REALIZADOS -->
  <h1 class="text-center display-4 meetup">Meetups já realizados</h1>

  <app-card-meetup [meetup]="meetup" *ngFor="let meetup of meetups"></app-card-meetup>
  <div class="meetup" *ngIf="showButtonMoreMeetups">
    <button mat-flat-button color="primary" (click)="showMoreMetups()" style="margin-left: 82px">
      Carregar mais Meetups...
    </button>
  </div>

  <div style="clear: both; height: 20px"></div>
</div>
