@media screen and (max-width: 320px) {
  html {
    background-image: url("/assets/Rectangle 1 copy.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #destaques {
    padding-top: -10rem;
  }
  #fundo_full {
    display: none !important;
  }
  .carousel {
    display: none;
  }
  #como_funciona {
    background-image: url("/assets/Como Funciona.png");
    background-repeat: no-repeat;
    height: 6rem;
    margin-left: 2rem;
    margin-top: 3rem;
  }
  #como_fazer {
    color: #495057;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: initial;
    font-weight: 500;
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    margin-left: -3rem;
  }
  #destaques {
    background-image: url("/assets/");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #vantagens_full {
    background-image: url("/assets/Vantagens_title.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3rem;
    margin-left: 4rem;
    padding-top: 3rem;
    color: #495057;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: initial;
    font-weight: 500;
    text-align: center;
    padding-right: 4rem;
  }
  #banner_livros {
    margin-bottom: -4rem;
  }
}

#destaque {
  text-align: center;
  margin-top: 10rem;
  margin-left: 58rem;
}

.card {
  display: -webkit-inline-box;
  margin: 1rem;
}

.carousel {
  margin-bottom: -4.4rem;
  margin-top: 6rem;
}

#vantagens {
  padding-top: 4rem;
}

#banner_livros {
  padding-top: 4rem;
}

#informativo {
  margin-top: -36rem;
  margin-left: -10rem;
}

#como_fazer {
  color: #495057;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: initial;
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
  margin-left: -3rem;
}

#vantagens_full {
  background-image: url("/assets/Vantagens_title.png");
  background-repeat: no-repeat;
  margin-top: 3rem;
  margin-left: 4rem;
  padding-top: 1rem;
  color: #495057;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: initial;
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
  padding-right: 4rem;
}

#banner_livros {
  margin-bottom: -4rem;
}
