/* Categories Section */
.categories-section {
  margin: 3rem 0;
  padding: 2rem 0;
}

.categories-title {
  color: #302d59;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.category-card {
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem;
  background: #fff;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}

.category-card:hover {
  border-color: #302d59;
  box-shadow: 0 4px 12px rgba(48, 45, 89, 0.15);
  transform: translateY(-2px);
  text-decoration: none;
  color: inherit;
}

.category-card.has-books {
  border-left: 3px solid #302d59;
}

.category-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #302d59 0%, #4a4680 100%);
  border-radius: 8px;
  margin-right: 1rem;
  flex-shrink: 0;
}

.category-icon i {
  color: white;
  font-size: 16px;
}

.category-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.category-name {
  font-weight: 600;
  color: #333;
  font-size: 0.95rem;
}

.category-count {
  font-size: 0.8rem;
  color: #666;
  margin-top: 2px;
}

.category-arrow {
  color: #ccc;
  transition: color 0.2s ease;
}

.category-card:hover .category-arrow {
  color: #302d59;
}

.category-card.no-books {
  opacity: 0.5;
  cursor: default;
  border-left: 3px solid #ccc;
}

.category-card.no-books:hover {
  border-color: #e9ecef;
  box-shadow: none;
  transform: none;
}

.category-card.no-books .category-icon {
  background: linear-gradient(135deg, #999 0%, #bbb 100%);
}

/* Responsive Categories */
@media (max-width: 991px) {
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .categories-grid {
    grid-template-columns: 1fr;
  }

  .category-card {
    padding: 0.875rem 1rem;
  }
}

/*
 jumbotron
               */

.container-jumbotron {
  padding: 0;
}

.jumbotron {
  background-image: url('../../../assets/img/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 410px;
  z-index: -6;
  margin-left: -12rem;
}

#find {
  margin-top: 12.5rem;
  float: right;
  -webkit-transition: width 1s;
  -webkit-transition-delay: 1s;
  transition: width 1s;
  transition-delay: 1s;
  width: 335px;
}

.form-control {
  display: block;
  width: 250px !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 15px 15px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-left: -0.3rem;
  margin-left: 0rem;
}

#form {
  margin-top: -4rem;
  margin-left: 2rem;
  position: relative;
  width: 250px;
}

.submit_btn {
  margin-right: -18rem;
  margin-left: 14.5rem;
  margin-top: -3.59rem;
  height: 38px;
  background-color: #fff;
  border: none;
  color: #302d59;
  font-style: italic;
  font-weight: 500;
  border-radius: 0 15px 15px 0;
  z-index: 3;
}

/*
  nav-buttons
                   */

.button_container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

#navbtn {
  max-width: 100%;
  height: auto;
  margin-top: -5.3rem;
  display: block;
  /* float: right; */
}

#button_container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: max-content;
}

#btn_1:hover,
#btn_2:hover,
#btn_3:hover,
#btn_4:hover,
#btn_5:hover,
#btn_6:hover,
#btn_7:hover,
#btn_8:hover,
#btn_9:hover,
#btn_10:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0px 5px 15px 0.1px grey;
}

#btn_1 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url('../../../assets/img/btn1.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_2 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url('../../../assets/img/btn2.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_3 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url('../../../assets/img/btn3.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_4 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url('../../../assets/img/btn4.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_5 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url('../../../assets/img/btn5.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_6 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url('../../../assets/img/btn6.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_7 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url('../../../assets/img/btn7.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_8 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url('../../../assets/img/btn8.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_9 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url('../../../assets/img/btn9.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_10 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url('../../../assets/img/btn10.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

/* book covers */

.book-covers {
  margin-bottom: 5rem;
}

.figure {
  margin: 1rem;
  max-width: 170px;
}

.figure div {
  width: 170px;
  height: 230px;
  text-align: center;
  border: 1px dotted #e6e6e6;
}

.figure div img {
  max-height: 230px;
  max-width: 170px;
}

/* Book type badge */
.book-cover-container {
  position: relative;
}

.book-type-badge {
  position: absolute;
  bottom: 8px;
  left: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 4px;
  z-index: 10;
}

.book-type-badge i {
  font-size: 10px;
}

.badge-ebook {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
}

.badge-physical {
  background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%);
  color: white;
}

#book-covers {
  margin: 1rem;
}

.meetup-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.meetup button {
  margin-top: 70px;
}

.meetup {
  margin-top: 5rem;
}

/*carousel*/

.container-carousel {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-bottom: -8.5rem;
}

#btn-previous {
  border-radius: 100px 100px 100px 100px;
  height: 50px;
  width: 50px;
  border: none;
  background-color: black;
  cursor: pointer;
}

#btn-next {
  border-radius: 100px 100px 100px 100px;
  height: 50px;
  width: 50px;
  border: none;
  background-color: black;
  cursor: pointer;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-bottom: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

.carousel-control-next-icon {
  margin-bottom: -3px;
  margin-left: 7px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  margin-top: 3px;
  margin-right: 4px;
}

/*how it works*/

.how-it-works {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  margin-top: 5rem;
}

@media (min-width: 360px) and (orientation: landscape) {
  .background-mobile {
    display: none !important;
  }
}

@media (max-width: 441px) {
  .full-background {
    display: none !important;
  }
}

@media (max-width: 524px) {
  .full-background {
    display: none;
  }
}

@media (max-width: 640px) {
  .full-background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .background-mobile {
    display: none;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .full-background {
    background: url('../../../assets/img/fundoazul.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

#how {
  color: #495057;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: initial;
  font-weight: 500;
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
}

/*benefits*/

#do-good {
  color: #495057;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: initial;
  font-weight: 500;
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
}

@media (min-width: 1224px) {
  .container-benefits {
    display: none;
  }
}

@media (max-width: 1224px) {
  .container-benefits-full-background {
    display: none;
  }
}
