@media screen and (max-width: 320px) {
  html {
    background-image: url("/assets/Rectangle 1 copy.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #destaques {
    padding-top: -10rem;
  }
  #fundo_full {
    display: none !important;
  }
  .carousel {
    display: none;
  }
  #como_funciona {
    background-image: url("/assets/Como Funciona.png");
    background-repeat: no-repeat;
    height: 6rem;
    margin-left: 2rem;
    margin-top: 3rem;
  }
  #como_fazer {
    color: #495057;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: initial;
    font-weight: 500;
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    margin-left: -3rem;
  }
  #destaques {
    background-image: url("/assets/");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #vantagens_full {
    background-image: url("/assets/img/Vantagens_title.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3rem;
    margin-left: 4rem;
    padding-top: 3rem;
    color: #495057;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: initial;
    font-weight: 500;
    text-align: center;
    padding-right: 4rem;
  }
  #banner_livros {
    margin-bottom: -4rem;
  }
}

#destaque {
  text-align: center;
  margin-top: 10rem;
  margin-left: 58rem;
}

.card {
  display: -webkit-inline-box;
  margin: 1rem;
}

.carousel {
  margin-bottom: -4.4rem;
  margin-top: 6rem;
}

#vantagens {
  padding-top: 4rem;
}

#banner_livros {
  padding-top: 4rem;
}

#informativo {
  margin-top: -36rem;
  margin-left: -10rem;
}

#como_fazer {
  color: #495057;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: initial;
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
  margin-left: -3rem;
}

#vantagens_full {
  background-image: url("/assets/img/Vantagens_title.png");
  background-repeat: no-repeat;
  margin-top: 3rem;
  margin-left: 4rem;
  padding-top: 1rem;
  color: #495057;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: initial;
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
  padding-right: 4rem;
}

#banner_livros {
  margin-bottom: -4rem;
}


#btn_1 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url("../../../assets/img/btn1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_1:hover,
#btn_2:hover,
#btn_3:hover,
#btn_4:hover,
#btn_5:hover,
#btn_6:hover,
#btn_7:hover,
#btn_8:hover,
#btn_9:hover,
#btn_10:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0px 5px 15px 0.1px grey;
}

#btn_2 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url("../../../assets/img/btn2.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_3 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url("../../../assets/img/btn3.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_4 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url("../../../assets/img/btn4.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_5 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url("../../../assets/img/btn5.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_6 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url("../../../assets/img/btn6.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_7 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url("../../../assets/img/btn7.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_8 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url("../../../assets/img/btn8.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_9 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url("../../../assets/img/btn9.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

#btn_10 {
  height: 65px;
  width: 70px;
  border: none;
  cursor: pointer;
  background-image: url("../../../assets/img/btn10.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 0.3rem;
}

@media screen and (min-width: 294px) and (max-width: 1215px) {
  #button_container {
    display: inherit;
  }
  #navbtn {
    display: inherit;
  }
  #btn_1:hover,
  #btn_2:hover,
  #btn_3:hover,
  #btn_4:hover,
  #btn_5:hover,
  #btn_6:hover,
  #btn_7:hover,
  #btn_8:hover,
  #btn_9:hover,
  #btn_10:hover {
    color: #fff;
    cursor: pointer;
    transform: scale(1);
    box-shadow: 0px 5px 15px 0.1px grey;
  }
  #btn_1 {
    height: 65px;
    width: 70px;
    border: none;
    cursor: pointer;
    background-image: url("../../../assets/img/btn1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgba(43, 128, 213, 0.722);
    margin: 0.3rem;
  }
  #btn_2 {
    height: 65px;
    width: 70px;
    border: none;
    cursor: pointer;
    background-image: url("../../../assets/img/btn2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgba(43, 128, 213, 0.722);
    margin: 0.3rem;
  }
  #btn_3 {
    height: 65px;
    width: 70px;
    border: none;
    cursor: pointer;
    background-image: url("../../../assets/img/btn3.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgba(43, 128, 213, 0.722);
    margin: 0.3rem;
  }
  #btn_4 {
    height: 65px;
    width: 70px;
    border: none;
    cursor: pointer;
    background-image: url("../../../assets/img/btn4.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgba(43, 128, 213, 0.722);
    margin: 0.3rem;
  }
  #btn_5 {
    height: 65px;
    width: 70px;
    border: none;
    cursor: pointer;
    background-image: url("../../../assets/img/btn5.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgba(43, 128, 213, 0.722);
    margin: 0.3rem;
  }
  #btn_6 {
    height: 65px;
    width: 70px;
    border: none;
    cursor: pointer;
    background-image: url("../../../assets/img/btn6.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgba(43, 128, 213, 0.722);
    margin: 0.3rem;
  }
  #btn_7 {
    height: 65px;
    width: 70px;
    border: none;
    cursor: pointer;
    background-image: url("../../../assets/img/btn7.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgba(43, 128, 213, 0.722);
    margin: 0.3rem;
  }
  #btn_8 {
    height: 65px;
    width: 70px;
    border: none;
    cursor: pointer;
    background-image: url("../../../assets/img/btn8.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgba(43, 128, 213, 0.722);
    margin: 0.3rem;
  }
  #btn_9 {
    height: 65px;
    width: 70px;
    border: none;
    cursor: pointer;
    background-image: url("../../../assets/img/btn9.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgba(43, 128, 213, 0.722);
    margin: 0.3rem;
  }
  #btn_10 {
    height: 65px;
    width: 70px;
    border: none;
    cursor: pointer;
    background-image: url("../../../assets/img/btn10.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgba(43, 128, 213, 0.722);
    margin: 0.3rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  #buttons {
    margin-top: -4rem !important;
  }
  #button_container {
    display: none;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: max-content;
  }
}

#find {
  margin-top: 12.5rem;
  margin-right: 15rem;
  z-index: 9;
  height: auto;
  float: right;
  -webkit-transition: width 1s;
  -webkit-transition-delay: 1s;
  transition: width 1s;
  transition-delay: 1s;
  width: 335px;
}

@media (max-width:294px) {
  #find:hover {
    width: 54px;
    height: auto;
    cursor: pointer;
  }
}

#form {
  margin-top: -4rem;
  margin-left: 2rem;
  position: relative;
}

#button_container {
  margin-right: -8rem;
  margin-top: 67px;
}

#buttons {
  margin-top: -4rem;
  float: right;
  margin-right: 18rem;
}

@media screen and (max-width: 320px) {
  .jumbotron,
    {
    display: none;
  }
  #button_container {
    margin-top: 4rem;
    margin-left: 10rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: max-content;
  }
  .nav-item {
    display: block;
  }
  #logotipo {
    margin-top: -2rem;
    margin-left: -1rem;
    margin-bottom: 1rem;
  }
}

.jumbotron {
  background-image: url("../../../assets/img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 410px;
  z-index: -6;
  margin-left: -12rem;
  margin-top: 0px;
}

.submit_btn {
  margin-right: -18rem;
  margin-left: 14.5rem;
  margin-top: -3.59rem;
  height: 38px;
  background-color: #fff;
  border: none;
  color: #302d59;
  font-style: italic;
  font-weight: 500;
  border-radius: 0 15px 15px 0;
  z-index: 3;
}

.form-inline {
  margin-top: 13rem;
  margin-left: 58rem;
  position: relative;
  z-index: 99;
  border: none;
}

.form-control {
  display: block;
  width: 250px !important;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 15px 15px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#navbtn {
  position: absolute;
  margin-top: -4.2rem;
  margin-left: -37.8rem;
  height: 80px;
}