table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}
th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}
.header {
  color: rgb(10, 10, 190);
  font-size: 14px;
}
.spinner-container {
  display: flex;
  justify-content: center;
}
.empty-data {
  padding-top: 15px;
  font-size: 18px;
}

.mat-column-location {
  padding-left: 10px;
}

.mat-column-totalBooksWon {
  padding-left: 10px;
}

button {
  margin-top: 20px;
}
