p {
  text-align: justify;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-container .card .card-projeto {
  margin: 6px;
}

.card-ferramenta {
  width: 200px;
}

.card-carreira {
  width: 200px;
}

.card-projeto {
  width: 255px;
}

.card-text {
  text-align: left;
}

.card {
  margin-bottom: 16px;
}

.card-img-top {
  height: 190px;
  object-fit: contain;
}
