.not-found-container {
  min-height: 70vh;
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 700;
  color: #ff4081;
}

h2 {
  color: #333;
}

a[mat-flat-button] {
  height: 48px;
  padding: 0 32px;
  font-size: 1rem;
  font-weight: 600;
}
