.meetup {
  width: 355px;
  height: 240px;
  padding: 5px;
  float: left;
  margin: 5px;
  text-align: center;
  font-weight: bold;
}

.meetup img {
  width: 345px;
}

@media (max-width: 375px){
  .meetup img{
    width: 325px;
    float: left;
  }
}

@media (max-width: 360px){
  .meetup {
    width: 305px;
  }

  .meetup img{
    width: 315px;
  }
}

.calendar {
  color: black;
}
