<form [formGroup]="formGroup" class="container form-horizontal" (ngSubmit)="loginUser()">
  <h1 class="text-center display-4">Login</h1>
  <div class="form-row">
    <div class="col">
      <div class="form-group col-md-6 offset-md-3 mb-2">
        <label class="col-form-label" for="email">E-mail</label>
        <div class="input-group">
          <input formControlName="email" id="txtEmail" type="text" class="form-control lowerCase" />
          <div class="input-group-addon append">
            <i class="fa fa-envelope-square"></i>
          </div>
        </div>

        <div *ngIf="formGroup.controls['email'].touched && !formGroup.controls['email'].valid">
          <small class="form-text text-danger" *ngIf="formGroup.controls['email'].hasError('required')">
            E-mail obrigatório.
          </small>
          <small class="form-text text-danger" *ngIf="formGroup.controls['email'].hasError('pattern')">
            O e-mail deve ser um e-mail válido.
          </small>
        </div>
      </div>

      <div class="form-group col-md-6 offset-md-3 mb-2">
        <label class="col-form-label" for="password">Senha</label>
        <div class="input-group">
          <input formControlName="password" id="txtPassword" type="password" class="form-control" />
          <div class="input-group-addon append">
            <i class="fa fa-unlock-alt"></i>
          </div>
        </div>

        <div *ngIf="formGroup.controls['password'].touched && !formGroup.controls['password'].valid">
          <small class="form-text text-danger" *ngIf="formGroup.controls['password'].hasError('required')">
            Senha obrigatória.
          </small>
        </div>
      </div>

      <div class="form-group col-md-6 offset-md-3">
        <div class="input-group">
          <input type="submit" id="btnLogin" class="btn btn-primary btn-block" value="Login"
            style="padding-left: 50px; padding-right: 50px" [disabled]="!formGroup.valid" />
        </div>
        <div class="text-center">
          <p>
            <a [routerLink]="['/register']" class="btn btn-link">Criar Conta</a> ou
            <a [routerLink]="['/reset-password']" class="btn btn-link">Redefinir Senha</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</form>
