<form [formGroup]="formGroup" class="container form-horizontal" novalidate
  style="padding: 80px 0 80px 0" (ngSubmit)="addBook()">

  <div class="">
    <div class=" text-dark" style="padding: 40px 40px 40px 40px">
      <h1 class="text-center">Quero doar um livro</h1>
      <div class="form-row">
        <div class="col">
          <div class="form-group col-md-6 offset-md-3 mb-2">
            <label class="col-form-label" for="title">Título do livro</label>
            <input formControlName="title" name="title" type="text" class="form-control">
            
            <div *ngIf="formGroup.controls['title'].touched && !formGroup.controls['title'].valid">  
                <small class="form-text text-danger" *ngIf="formGroup.controls['title'].hasError('required')">  
                Titulo do livro obrigatório. 
              </small>  
              <small class="form-text text-danger" *ngIf="formGroup.controls['title'].hasError('minlength')">  
                O titúlo deve conter no mínimo 3 caracteres.
              </small>  
              <small class="form-text text-danger" *ngIf="formGroup.controls['title'].hasError('maxlength') ">  
                O titúlo deve conter no máximo 50 caracteres.
              </small>  
            </div>  
          </div>

          <div class="form-group col-md-6 offset-md-3 mb-2">
            <label class="col-form-label" for="author">Autor</label>
            <input formControlName="author" type="text" class="form-control">

            <div *ngIf="formGroup.controls['author'].touched && !formGroup.controls['author'].valid">  
              <small class="form-text text-danger" *ngIf="formGroup.controls['author'].hasError('required')">  
                Informe o nome do autor do livro.
              </small>  
              <small class="form-text text-danger" *ngIf="formGroup.controls['author'].hasError('minlength')">  
                O nome do autor deve conter no mínimo 3 caracteres.
              </small>  
              <small class="form-text text-danger" *ngIf="formGroup.controls['author'].hasError('maxlength') ">  
                O nome do autor deve conter no máximo 50 caracteres.
              </small>  
            </div>  
          </div>
         
          <div class="form-group col-md-6 offset-md-3 mb-2">
            <label class="col-form-label" for="category">Categoria</label>
            <select class="form-control" formControlName="category">
              <option value=""></option>
              <option value="1">Direito</option>
              <option value="1">Administração</option>
              <option value="1">Artes</option>
              <option value="1">Medicina</option>
              <option value="1">Economia</option>
              <option value="1">Informatica</option>
              <option value="1">Psicologia</option>
              <option value="1">Engenharia</option>
            </select>
            <div *ngIf="formGroup.controls['category'].touched && !formGroup.controls['category'].valid">  
              <small class="form-text text-danger" *ngIf="formGroup.controls['category'].hasError('required')">  
                Informe a categoria do livro.
              </small>  
            </div>  
          </div>

          <div class="input-group col-md-6 offset-md-3 mb-2">
            <label class="col-form-label" for="category">Vc pagaria o frete para? <3</label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label 
                *ngFor="let option of freightOptions" 
                class="btn btn-outline-secondary" 
                (click)="changeFieldFreightOption(option.value)">
                <input type="radio" formControlName="freightOption"> {{option.label}}
              </label>
            </div>
            <div *ngIf="formGroup.controls['freightOption'].touched && !formGroup.controls['freightOption'].valid">  
              <small class="form-text text-danger" *ngIf="formGroup.controls['freightOption'].hasError('required')">  
                Escolha uma opções de frete.
              </small>  
            </div>
          </div>
          
          <div class="form-group col-md-6 offset-md-3 " style="padding-top: 12px">
            <div class="custom-file">
              <input type="file" class="custom-file-input" formControlName="customFile">
              <label class="custom-file-label" for="customFile">Selecionar imagem da capa do livro</label>
            </div>
            <div *ngIf="formGroup.controls['customFile'].touched && !formGroup.controls['customFile'].valid">  
              <small class="form-text text-danger" *ngIf="formGroup.controls['customFile'].hasError('required')">  
                Selecione a capa do livro.
              </small>  
            </div>
          </div>
          
          <div class="form-group col-md-6 offset-md-3" style="margin-top: 8px">
            <div class="text-center">
              <input 
                type="submit" 
                class="btn btn-primary" 
                value="Doar este livro" 
                style="padding-left: 50px; padding-right: 50px"
                [disabled]="!formGroup.valid"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>