.form-row {
  align-items: center;
}

.figure {
  margin: 1rem;
  max-width: 170px;
}

.figure div {
  width: 170px;
  height: 230px;
  text-align: center;
  border: 1px dotted #e6e6e6;
}

.figure div img {
  max-height: 230px;
  max-width: 170px;
}

select.ng-invalid.ng-touched,
input.ng-invalid.ng-touched {
  border: 1px solid red;
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
    align-items: center;
  }

  .col {
    flex-basis: unset;
  }

  .thumbnail-container {
    max-width: 30vw;
  }

  .img-thumbnail {
    min-height: 220px;
    min-width: 320px;
  }
}

mat-button-toggle-group {
  flex-grow: 1;
}

.image-actions {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  width: auto !important;
  height: auto !important;
  border: none !important;
}

.image-actions button {
  width: 100%;
  font-size: 12px;
}

.image-actions mat-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
  line-height: 16px;
}
