<div class="container form-horizontal">
    <h1 class="text-center display-4">{{pageTitle}}</h1>

    <div *ngIf="isSaved" class="text-center">
      <a routerLink="/" class="btn btn-outline-success" style="margin: 0 3px 3px 0">
        Página inicial
      </a>
    </div>
  
    <div *ngIf="!isSaved" class="form-row">
      <div class="col-3">
        <img [src]="bookInfo.imageBytes?.length
          ? 'data:image/png;base64,' + bookInfo.imageBytes
          : bookInfo.imageUrl ? bookInfo.imageUrl : 'assets/img/img-placeholder.png'" 
          class="img-thumbnail "
        />
      </div>
      <div class="col">
        <p><b>Título do livro:</b><br/>{{bookInfo.title}}</p>
        <p><b>Autor:</b><br/>{{bookInfo.author}}</p>
        <p><b>Categoria:</b><br/>{{bookInfo.category?.name}}</p>
        <p><b>Doador paga o frete?</b><br/>{{freightName}}</p>

        <div class="form-group col-md-8">
          <div class="modal-footer" [hidden]="isLoading">
            <input type="button" *ngIf="userProfile && !requested" class="btn btn-primary" value="Tenho interesse" style="padding-left: 50px; padding-right: 50px"
              (click)="onRequestBook()">
            <input type="button" *ngIf="!userProfile" class="btn btn-primary" value="Faça login para solicitar o livro" style="padding-left: 50px; padding-right: 50px"
              (click)="onLoginBook()">
            <a [routerLink]="['/home']" class="btn btn-link">Cancelar</a>
          </div>
          <div class="text-center" [hidden]="!isLoading">
            <i class="fa fa-spinner fa-spin"></i> Aguarde...
          </div>          
        </div>        
      </div>
    </div>
  </div>