@media (max-width: 418px) {
  .img-thumbnail {
    min-height: 220px;
    min-width: 320px;
  }
}
@media (max-width: 538px) {
  #cancelButton {
    display: none;
  }
}

.recaptcha-container {
  margin-bottom: 1rem;
}
