table {
  width: 100%;
}
th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}
.header {
  color: rgb(10, 10, 190);
  font-size: 14px;
}
.spinner-container {
  display: flex;
  justify-content: center;
}
.empty-data {
  padding-top: 15px;
  font-size: 18px;
}

.custom-badge {
  display: inline-block;
  width: fit-content;
  text-align: center;
  border-radius: 7px;
  margin-top: 4px;
  padding: 2px 8px;
  white-space: nowrap;
}

.mat-flat-button {
  min-width: 34px;
  padding: 0px;
  height: 34px;
}

.action-cell {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-top: 8px;
  padding-bottom: 4px;
}
