.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}

:host /deep/ ng2-smart-table table tr td{
  font-size:0.9em;
  word-break: break-all;
}
  

:host /deep/ ng2-smart-table ng2-smart-table-pager .ng2-smart-pagination[_ngcontent-c6] .page-link-prev,
:host /deep/ ng2-smart-table ng2-smart-table-pager .ng2-smart-pagination[_ngcontent-c6] .page-link-next {
  font-size: inherit;
}