.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}

:host ::ng-deep ng2-smart-table table tr td {
  font-size: 0.9em;
  word-break: break-all;
}

:host
  ::ng-deep
  ng2-smart-table
  ng2-smart-table-pager
  .ng2-smart-pagination-nav
  .ng2-smart-pagination
  li
  a.page-link-prev,
:host
  ::ng-deep
  ng2-smart-table
  ng2-smart-table-pager
  .ng2-smart-pagination-nav
  .ng2-smart-pagination
  li
  a.page-link-next {
  font-size: inherit;
}
