<div class="container">
  <h1 class="text-center display-4">
    Gerenciar Livros
    <button class="btn btn-info btn-lg" (click)="reloadData()">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </button>
  </h1>
  <div [hidden]="!isLoading">
    <i class="fa fa-spinner fa-spin" style="position: absolute; left: 50%"></i>
  </div>
  <div class="container mt-5 table-responsive" [hidden]="isLoading">
    <!-- <ng2-smart-table class="table" [settings]="settings" [source]="books" (custom)="onCustom($event)">
    </ng2-smart-table> -->
  </div>
</div>
