<!-- Um único ng-content: o Angular projeta o conteúdo em um só slot, então
     repetir <ng-content> em cada ramo deixa os links sem texto. -->
<ng-template #content><ng-content></ng-content></ng-template>

@if (routerLink) {
  <a
    mat-flat-button
    [color]="materialColor"
    [ngClass]="hostClasses"
    [routerLink]="routerLink"
    (click)="onClick($event)"
    >
    @if (icon) { <mat-icon>{{ icon }}</mat-icon> }
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </a>
} @else if (href) {
  <a
    mat-flat-button
    [color]="materialColor"
    [ngClass]="hostClasses"
    [href]="href"
    [target]="target"
    [rel]="rel"
    (click)="onClick($event)"
    >
    @if (icon) { <mat-icon>{{ icon }}</mat-icon> }
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </a>
} @else {
  <button
    mat-flat-button
    type="button"
    [color]="materialColor"
    [ngClass]="hostClasses"
    [disabled]="disabled"
    (click)="onClick($event)"
    >
    @if (icon) { <mat-icon>{{ icon }}</mat-icon> }
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </button>
}
