p {
  text-align: justify;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container .card {
  margin: 6px;
}

.card {
  width: 200px;
}

.card-text {
  text-align: left;
}

.panel-item {
  width: 50%;
  margin-top: 20px;
}
