<div class="container">
  <div class="card-deck w-50">
    <div class="card img-fluid" style="width:50px">

      <img class="card-img-top" src="../../../assets/img/reading.svg" alt="Card image" style="width:100%">
      <a href="/book/list" title="Editar livros">
        <div class="card-img-overlay">
          <!--h4 class="card-title">Livros</h4-->
          <!--p class="card-text">Some example text some example text. </p-->
          <!--a href="#" class="btn btn-primary">See Profile</a-->
        </div>
      </a>
    </div>
    <div class="card img-fluid" style="width:50px">
      <img class="card-img-top" src="../../../assets/img/avatar.svg" alt="Card image" style="width:100%">
      <a href="/account" title="Editar perfil">
        <div class="card-img-overlay">
          <!--h4 class="card-title">Perfil</h4-->
          <!--p class="card-text">Some example text some example text. </p-->
          <!--a href="#" class="btn btn-primary">See Profile</a-->
        </div>
      </a>
    </div>
  </div>
</div>