<div class="container">
    <div class="flex-container">

    <div *ngIf="isAdmin" class="card">
      <a href="/book/list" title="Editar livros">
        <img class="card-img-top" src="../../../assets/img/reading.svg" alt="Card image" style="width:100%">
      </a>
      <div class="card-body">
        <h5 class="card-title">Gerenciar Livros</h5>
        <p class="card-text">Esta função permite gerenciar os livros para doação.</p>
      </div>
    </div>

    <div class="card">
      <a href="/account" title="Editar perfil">
        <img class="card-img-top" src="../../../assets/img/avatar.svg" alt="Card image" style="width:100%">
      </a>
      <div class="card-body">
        <h5 class="card-title">Editar Perfil</h5>
        <p class="card-text">Esta função permite editar seus dados pessoais.</p>
      </div>
    </div>
  </div>
</div>