<div class="modal-header">
  <h4 class="modal-title">Informações de usuários para o livro: {{bookTitle}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="text-center" [hidden]="!isLoading">
    <i class="fa fa-spinner fa-spin"></i> Aguarde...
  </div>
  <div class="text-center" *ngIf="state=='request-error'">
    <p>:/ ocorreu um erro.</p>
    <div class="alert alert-danger" role="alert">
        {{lastError}}
    </div>
  </div>    
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Cancelar</button>
</div>
